<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595110888555-f1gu64mv1474a99obh9rnuoo6ui5p3cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595110888555-f1gu64mv1474a99obh9rnuoo6ui5p3cu</string>
	<key>API_KEY</key>
	<string>AIzaSyBr5EMMQJrxOXZL9a4FjM7i28zUBfJM-jw</string>
	<key>GCM_SENDER_ID</key>
	<string>595110888555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tastyy</string>
	<key>PROJECT_ID</key>
	<string>tasty-79b68</string>
	<key>STORAGE_BUCKET</key>
	<string>tasty-79b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595110888555:ios:606d499c8959fa248c1d2e</string>
</dict>
</plist>